:root {
  --light-mode-bgc: hsl(219, 18%, 62%);
  --dark-mode-bgc: #232526;
  --special-mode-bgc: hsl(249, 57%, 31%);

  --header-height: 40px;
  --footer-height: 100px;
  --mode-button-size: 30px;
}

// 设置 webkit 内核系浏览器的默认滚动条样式
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(240, 248, 255, 0.39);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.normal-theme,
.dark-theme,
.special-theme {
  transition: all 200ms ease-out;
}

.normal-theme {
  background: var(--light-mode-bgc);

  main {
    background: scroll no-repeat center url("../img/light.jpg");
    background-size: cover;
  }
}

.dark-theme {
  background: var(--dark-mode-bgc);
  main {
    background: scroll no-repeat center url("../img/dark.png");
    background-size: cover;
  }
}
.special-theme {
  background: var(--special-mode-bgc);
  main {
    background: scroll no-repeat center url("../img/special.jpg");
    background-size: cover;
  }
}

html,
body {
  overflow: hidden;
  height: 100%;
  width: 100%;
  transition: all 4000ms ease-out;
}

#app {
  width: 100%;
  height: 100%;
  display: grid;
  overflow: auto;

  grid-template-columns: auto;
  grid-template-rows:
    var(--header-height)
    auto
    var(--footer-height);

  header,
  footer {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.267);
  }

  header {
    background-color: rgba(240, 248, 255, 0.315);
    display: flex;
    align-items: center;
    column-gap: 10px;
    justify-content: flex-end;

    span {
      flex: auto;
      max-width: 20px;
      height: 20px;
      border-radius: 50%;
      transition: 200ms ease-out;

      &:hover,
      &.active {
        transform: scale(1.1);
        background-color: 0 0 4px white;
        border: 2px solid rgb(210, 207, 212);
        cursor: pointer;
      }

      &:first-child {
        background: var(--light-mode-bgc);
      }

      &:nth-child(2) {
        background: var(--special-mode-bgc);
      }

      &:last-child {
        background: var(--dark-mode-bgc);
        margin-right: 20px;
      }
    }
  }

  main {
    min-width: 800px;
    min-height: 500px;

    .drag-view {
      position: relative;
      margin: 10px;
      width: calc(100% - 20px);
      height: calc(100% - 20px);
      border: 1px solid rgba(245, 222, 179, 0.514);
      border-radius: 8px;
    }
  }

  footer {
    background-color: rgba(88, 88, 87, 0.11);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;

    h1 {
      color: transparent;
      background: scroll no-repeat center
        linear-gradient(
          109.6deg,
          rgba(61, 245, 167, 1) 11.2%,
          rgba(9, 111, 224, 1) 91.1%
        );
      font-weight: 600;
      font-size: 40px;
      background-clip: text;
      -webkit-background-clip: text;
      animation: scroll-text-color 4s linear infinite;
      font-weight: bolder;
      letter-spacing: 6px;
      text-decoration: underline;
      font-style: italic;

      @keyframes scroll-text-color {
        from {
          filter: hue-rotate(0deg);
        }
        to {
          filter: hue-rotate(360deg);
        }
      }
    }
  }
}
